<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIYLypbzuWg4gxZLmQKjsBJf0i1pAo4dk&callback=initMap"
    type="text/javascript"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .block-left {
      width: 20%;
      height: 100vh;
      background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/08/Cool-nature-photos-desktop-background-620x472.jpg");
      float: left;
      background-size: cover;
    }

    .block-right {
      width: 100%;
      height: 100vh;

    }

    /* MEDIA QUERIES FOR 545px <= Resolutions */

    @media (max-width:545px) {
      .block-left {
        display: block;
        width: 20%;
      }

      .block-right {
        display: block;
        width: 80%;
      }
    }
    #banner{
margin-top: 20px;
margin-left: 10px;
margin-right: 10px;
opacity: 0.8;

    }
    #banner:hover {
      opacity:0.9;
    }
  .btn {
    text-align: center;
  }
  </style>
</head>

<body>


  <div class="block-left">


    <div class="jumbotron jumbotron-fluid" id="banner">
      <div class="container">
        
       <a href ="/"> <i class="fas fa-home fa-3x"></i></a>
       <hr>
        <h1 class="display-4">Finding work is easy</h1>
        <p class="lead">Look through the map to find a job that fits you</p>
        <hr>
        
      </div>
    </div>

  </div>



  <div class="block-right">

    <div id="map"></div>

  </div>


  <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 12
      });
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('We found you, please follow the form to add your job.');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function () {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
       
      
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
   

  </script>
  
  </div>






</body>

</html>