<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIYLypbzuWg4gxZLmQKjsBJf0i1pAo4dk&callback=initMap"
    type="text/javascript"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles/employerStyle.css">
  <script type="text/javascript" src="/js/employer.js"></script>
</head>

<body>


  <div class="block-left">


    <div class="jumbotron jumbotron-fluid" id="banner">
      <div class="container">

        <a href="/"> <i class="fas fa-home fa-3x"></i></a>
        <hr>
        <h1 class="display-4">Finding help is easy</h1>
        <h2> Welcome ..<span class="member-name"></span></2>
        <p class="lead">Click the map to add a pin and fill out the form</p>
        
        <hr>
        <form class="jobCreate">
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Please enter your name">
          </div>
          <div class="form-group">
          <label for="formGroupExampleInput2">Choose a Job Category</label>
          <select class="form-control" id="jobCategory">
            <option>Manual Labor</option>
            <option>Maintainence</option>
            <option>Miscellaneous</option>
          </select>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Job Description</label>
            <input type="text" class="form-control" id="jobDescription" placeholder="Please fill out">
          </div>
          {{!-- Vinnie - Adding a new text box for price --}}
          <label for="formGroupExampleInput2">Amount To Be Paid</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="dollarAmount">
          </div>
          {{!-- Vinnie - End adding new text box  --}}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              I understand that this job description and price is correct.
          </div>
          <br>
          <button type="submit" class="btn btn-secondary btn-lg">Submit Job</button>
        </form>
      </div>
    </div>

  </div>



  <div class="block-right">

    <div id="map"></div>

  </div>
  

  <script>
    // for google map api

    var map, infoWindow;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 12
      });
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('We found you, please follow the form to add your job.');
          infoWindow.open(map);
          map.setCenter(pos);
        }, function () {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }


    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }


  </script>

  </div>








</body>

</html>