<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Employer Page</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="styles/materialize.styles" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="styles/employerStyle.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <!--nav-->
  <div class="navbar-fixed">
    <nav class="white" role="navigation">

      <!--logo-->
      <div class="nav-wrapper container">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a id="logo-container" href="#myPage" class="brand-logo">taskScan
          <i class="fas fa-angle-double-right"></i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#about">Home
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li>
            <a href="#services">Select Service
              <i class="fas fa-hand-pointer"></i>
            </a>
          </li>


        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li>
            <a href="#">Navbar Link</a>
          </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
  </div>

  <!--forum-->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">

      <div class="container">
        <br>
        <br>
        <h1 class="header center white-text text-lighten-2">taskScan</h1>
        <div class="row center">
          <h5 class="header col s12 dark">A modern job creating app that is helping millions</h5>
        </div>

        <!--this will trigger our forum in a popup modal-->

        <div class="row center">
          <!-- Modal Trigger -->
          <button data-target="modal1" class="btn-large modal-trigger ">Getting started</button>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">


            <h4>Job Forum</h4>
            <br>


            <div class="row">
              <form class="col s12">
                <div class="row">

                  <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>

                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <!-- job category: update this -->

                <div class="form-group">
                  <label for="formGroupExampleInput2">Choose a Job Category</label>
                  <select class="form-control" id="jobCategory">
                    <option>Manual Labor</option>
                    <option>Maintainence</option>
                    <option>Miscellaneous</option>
                  </select>
                </div>


                <div class="row">

                </div>
                <!--  job description-->

                <div class="row">
                  <div class="input-field col s12">

                    <label for="formGroupExampleInput2">Job Description</label>
                    <input id="jobDescription" type="text" class="validate" placeholder="Please fill out">
                  </div>
                </div>
                <!-- where-->

                <div class="form-group">
                  <label for="location">*Where</label>
                  <!-- <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number"
                                                            maxlength="5" min="0" id="zipcode" name="location">  -->
                  <input type="number" class="form-control" maxlength="5" min="0" id="zipcode" name="zipcode" placeholder="Zipcode">
                </div>


                <div class="row">

                </div>
                <!--  when-->
                <div class="row">
                  <div class="input-field col s6">
                    <label for="date">When do you need help?</label>
                    <input type="text" class="datepicker">
                  </div>
                
                <!-- at what time?-->
               
                    <div class="input-field col s6">
                      <label for="date">What time do you need help?</label>
                      <input type="text" class="timepicker">
                    </div>
                  </div>
                <!-- amount to be paid-->



                <div class="row">
                  <div class="input-field col s12">
                    <input id="dollarAmount" type="text" class="validate" aria-label="Amount (to the nearest dollar)">
                    <label for="formGroupExampleInput2">Amount To Be Paid?</label>
                  </div>
                </div>


              </form>
            </div>
          </div>

          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Disagree</a>
          </div>
        </div>
        <br>
        <br>



      </div>
    </div>
    <!--image2-->
    <div class="parallax">
      <img src="images/play2.jpg" alt="Unsplashed background img 1">
    </div>
  </div>


  
  <div class="container">
    <div class="section">

      <!--  carosal   -->
      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>Services</h4>
        </div>

        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
            <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
            <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
            <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
            <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
          </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Join users all around the world</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="images/play1.jpg" alt="Unsplashed background img 2">
    </div>
  </div>


  <!-- Container (Contact Section) -->
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>Contact Us, Would love to hear from you!</h4>
        </div>

        <div class="col-sm-7 slideanim">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
          <br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

          <h5 class="header col s12 light">Finding the right help has never been so easy. Click get started above
            <i class="fas fa-chevron-up"></i>
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="images/play4.jpg" alt="Unsplashed background img 3">
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support
            and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Link 1</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 2</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Link 1</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 2</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--footer-->
    <div class="footer-copyright">

      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>

      <div class="container">
        Created by : Ryan Halfpenny , Vinne Tranquillo , Jin Kim , Ash Cole
        <br>
        <a class="brown-text text-lighten-3" href="https://github.com/vinnietran/project2" title="Visit github">www.github.com</a>
      </div>
    </div>

  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/employer.js"></script>

</body>

</html>