<div id="modal1" class="modal">
    <div class="modal-content">


      <h4>Job Forum</h4>
      <br>

      <form class="jobCreate" class="col s12">





  <div class="row">
   
      <div class="row">
        <div class="input-field col s6">
            <input id="name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <div class="form-group">
                <label for="formGroupExampleInput2">Choose a Job Category</label>
                <select class="form-control" id="jobCategory">
                  <option>Manual Labor</option>
                  <option>Maintainence</option>
                  <option>Miscellaneous</option>
                </select>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <label for="formGroupExampleInput2">Job Description</label>
            <input id="jobDescription" type="text" class="validate" placeholder="Please fill out">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
            <label for="location">*Where</label>
            <!-- <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number"
                                                    maxlength="5" min="0" id="zipcode" name="location">  -->
            <input type="number" class="form-control" maxlength="5" min="0" id="zipcode" name="zipcode"
              placeholder="Zipcode">
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <input id="date" type="text" class="validate" placeholder="DD/MM/YY">
            <label for="first_name">When</label>
        </div>
      </div>
      <div class="row"> 
        <div class="form-group">
            <label for="formGroupExampleInput2">Choose a Job Category</label>
            <select class="form-control" id="time">
              <option>Between 10 AM - 12 PM </option>
              <option>Between 12 PM - 2 PM </option>
              <option>Between 2 PM - 4 PM </option>
              <option>Between 4 AM - 6 PM </option>
            </select>
          </div>
      </div>
      <div class="row"> 

            <div class="input-field col s12">
                    <input id="dollarAmount" type="text" class="validate" aria-label="Amount (to the nearest dollar)">
                    <label for="formGroupExampleInput2">Amount To Be Paid?</label>
                  </div>
          </div>
          <div class="modal-footer">

                <button class="btn btn-default pull-right" type="submit">Send</button>
              </div>
    </form>
  </div>